@model AccountDetails
@{
    ViewData["Title"] = "ATM Machine - Account Balance";
}

<div class="row text-center">
    <h2>ATM Machine - Account Balance</h2>
</div>

<hr />

<div class="row">
    <h2>Your account balance is @Model.Balance HRK.</h2>
</div>
