@model DepositModel
@{
    ViewData["Title"] = "ATM Machine - Deposit";
}

<div class="row text-center">
    <h2>ATM Machine - Deposit</h2>
</div>

<hr />

<form asp-action="DepositPost">
    <div class="form-group">
        <label class="col-form-label">Your account number:</label>
        <input asp-for="AccountNumber" type="text" maxlength="10" value="@Model.AccountNumber" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label">Enter the ammount you want to deposit:</label>
        <input asp-for="Ammount" type="number" class="form-control" />
    </div>

    <hr />

    <button type="submit" class="btn btn-success">Deposit</button>
    <a asp-action="ReturnToIndex" asp-route-account="@Model.AccountNumber"><input type="button" class="btn btn-danger" value="Cancel" /></a>
</form>
