@model User
@{
    ViewData["Title"] = "ATM Machine Web App";
}

<div class="row text-center">
    <h1>Hello @Model.Name @Model.Surname!</h1>
    <h2>You successfully logged into your account!</h2>
</div>

<hr />