@model DepositModel
@{
    ViewData["Title"] = "ATM Machine - Withdrawal";
}

<div class="row text-center">
    <h2>ATM Machine - Withdrawal</h2>
</div>

<hr />

@if (ViewBag.WithdrawalStatus == false)
{
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            @ViewBag.WithdrawalMessage
        </div>
    </div>

    <hr />
}

<form asp-action="WithdrawalPost">
    <div class="form-group">
        <label class="col-form-label">Your account number:</label>
        <input asp-for="AccountNumber" type="text" maxlength="10" value="@Model.AccountNumber" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label">Enter the ammount you want to withdraw:</label>
        <input asp-for="Ammount" type="number" class="form-control" />
    </div>

    <hr />

    <button type="submit" class="btn btn-success">Withdraw</button>
    <a asp-action="Index"><input type="button" class="btn btn-danger" value="Cancel" /></a>
</form>