@model Account
@{
    ViewData["Title"] = "ATM Machine Web App";
}

<div class="row text-center">
    <h1>Welcome to ATM Machine Web App!</h1>
</div>

<hr />

@if (ViewBag.ValidationCode == 404 && ViewBag.OnlyPin == false)
{
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            @ViewBag.ValidationMessage
        </div>
    </div>

    <hr />
}
else if (ViewBag.ValidationCode == 200 && ViewBag.OnlyPin == false)
{
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            @ViewBag.ValidationMessage
        </div>
    </div>

    <hr />
}

<div class="row">
    <div class="col-12">
        <h3>Account validation</h3>
    </div>
    <div class="col-12">
        <form asp-action="AccountVerification" asp-controller="Home">
            <div class="form-group">
                <label class="col-form-label">Enter your account number:</label>
                <input type="text" maxlength="10" asp-for="AccountNumber" class="form-control" aria-describedby="accountNumberHelp" />
                <small id="accountNumberHelp" class="form-text text-muted">Account number consists of 10 digits.</small>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Validate account" />
            </div>
        </form>
    </div>
</div>

<hr />

@if(Model != null)
{
    PinEntryModel pinModel = new PinEntryModel();
    pinModel.Account = Model;
    <partial name="_Numpad" model="pinModel" />   
}

@section Scripts{
    <script>
        function enteringPin(button) {
            var value = button.value;
            if(document.getElementById("pinEntry").value.length < 4){
                document.getElementById("pinEntry").value += value;
            }
        }
        function clearPin(button){
            document.getElementById("pinEntry").value = "";
        }
    </script>
}